{% extends "base.html" %}
{% load account socialaccount %}

{% block content %}

<form action="{% url 'search_results' %}" method="get" >
    
        <label for="uf">Estado:</label>
      <select  name="uf" id="uf">
        <option selected>Estado...</option>
      </select>
  
      
          <label>Cidade</label>
      <select name="cidade" id="cidade">
        <option selected>Cidade...</option>
      </select>
    

    <label for="search" id="search">Procurar: </label>
    <input name="search" type="text" placeholder="Procurar...">

    <center><button type="submit">Procurar</button></center>

</form>

{% endblock content%}