{% extends "core/base_pwa.html" %}
{% load account socialaccount %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1>Pesquisar por profissionais</h1></center>
<div class="card">
  <div class="card-body">
<form action="{% url 'search_results_pwa' %}" method="get">
  <div class="form-group">
    <label for="uf">Estado:</label>
  <select class="form-control" name="uf" id="uf">
    <option selected>Estado...</option>
  </select>
  </div>
  <div class="form-group">
      <label>Cidade</label>
  <select class="form-control" name="cidade" id="cidade">
    <option selected>Cidade...</option>
  </select>
  </div>
  <div class="form-group">
      <label>Procurar</label>
      <input type="text" class="form-control" name="search" placeholder="Procurar">
  </div>
  <div class="form-group">
    <br>
      <button type="submit" class="btn btn-primary btn-block">Pesquisar</button>
  </div>
</form>
</div>
</div>

{% endblock content%}