{% extends "core/base_pwa.html" %}
{% load account socialaccount %}
{% load static %}

{% block content %}
<!-- App Capsule -->
<div id="appCapsule">

    <!-- Wallet Card -->
    <div class="section wallet-card-section pt-1">
        <div class="wallet-card">
            <!-- Balance -->
            <div class="balance">
                <div class="left">
                    <img src="{% static 'images/icon-pwa.png' %}" alt="image">
                </div>
                <div class="right">
                    <span class="title">HelpHome-App</span>
                    <h1 class="total">Avaliações</h1>
                </div>
            </div>
            <!-- * Balance -->
            <!-- Wallet Footer -->
            <div class="wallet-footer">
                <div class="item">
                    
                        <div class="icon-wrapper bg-danger">
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <strong>Péssimo</strong>
                    </a>
                </div>
                <div class="item">
                    
                        <div class="icon-wrapper">
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <strong>Bom</strong>
                    </a>
                </div>
                <div class="item">
                    
                        <div class="icon-wrapper bg-success">
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <strong>Ótimo</strong>
                    </a>
                </div>
                <div class="item">
                   
                        <div class="icon-wrapper bg-warning">
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <strong>Ruim</strong>
                    </a>
                </div>

            </div>
            <!-- * Wallet Footer -->
        </div>
    </div>
    <!-- Wallet Card -->

    
    <!-- Stats -->
    <div class="section">
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Pedreiros</div>
                    <div class="value text-success">5</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Faxineira</div>
                    <div class="value text-danger">2</div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Carpinteiros</div>
                    <div class="value">1</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-box">
                    <div class="title">Diaristas</div>
                    
                    <div class="value">1</div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- * Stats -->

   

   
    <!-- Send Money -->
    <div class="section full mt-4">
        <div class="section-heading padding">
            <h2 class="title">Profissionais</h2>
            
        </div>
        <!-- carousel small -->
        <div class="carousel-small splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for usuario in usuario %}  
                    <li class="splide__slide">
                        <a href="{% url 'profile_detail_pwa' pk=usuario.pk %}">
                            <div class="user-card">
                                <img src="{{ usuario.picture.url }}" alt="img" class="imaged w-100">
                                <strong>{{usuario.user.first_name}}</strong>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- * carousel small -->
    </div>
    <!-- * Send Money -->

    <!-- Monthly Bills -->
    <div class="section full mt-4">
        <div class="section-heading padding">
            <h2 class="title">Destaques</h2>
                       </div>
        <!-- carousel multiple -->
        <div class="carousel-multiple splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for usuario in usuario %}
                    <li class="splide__slide">
                        <div class="bill-box">
                            <div class="img-wrapper">
                                <img src="{{ usuario.picture.url }}" alt="img" class="image-block imaged w48">
                            </div>
                            {% for servicos in servicos.reviews.all %}
                            <div class="price">{{ servicos.stars }}</div>
                            {% endfor %}
                            <p>{{ usuario.profile_description}}</p>
                            <a href="{% url 'profile_detail_pwa' pk=usuario.pk %}" class="btn btn-primary btn-block btn-sm">DETALHES</a>
                        </div>
                    </li>
{% endfor %}
                    
                </ul>
            </div>
        </div>
        <!-- * carousel multiple -->
    </div>
    <!-- * Monthly Bills -->


   
   

    <!-- app footer -->
    <div class="appFooter">
        <div class="footer-title">
            Copyright © HelpHome 2022. Projeto Integrador.
        </div>
        Projeto Integrador III - 2022.
    </div>
    <!-- * app footer -->

</div>
<!-- * App Capsule -->

<!-- iOS Add to Home Action Sheet -->
<div class="modal inset fade action-sheet ios-add-to-home" id="ios-add-to-home-screen" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instalar Aplicativo</h5>
                <a href="#" class="close-button" data-bs-dismiss="modal">
                    <ion-icon name="close"></ion-icon>
                </a>
            </div>
            <div class="modal-body">
                <div class="action-sheet-content text-center">
                    <div class="mb-1"><img src="{% static 'assets/img/icon/192x192.png' %}" alt="image" class="imaged w64 mb-2">
                    </div>
                    <div>
                        Instalar<strong>HelpHome</strong> em seu celular.
                    </div>
                    <div>
                        Clique <ion-icon name="share-outline"></ion-icon> e adicione a tela.
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary btn-block" data-bs-dismiss="modal">FECHAR</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- * iOS Add to Home Action Sheet -->


<!-- Android Add to Home Action Sheet -->
<div class="modal inset fade action-sheet android-add-to-home" id="android-add-to-home-screen" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instalar Aplicativo</h5>
                <a href="#" class="close-button" data-bs-dismiss="modal">
                    <ion-icon name="close"></ion-icon>
                </a>
            </div>
            <div class="modal-body">
                <div class="action-sheet-content text-center">
                    <div class="mb-1">
                        <img src="{% static 'assets/img/icon/192x192.png' %}" alt="image" class="imaged w64 mb-2">
                    </div>
                    <div>
                        Instalar Aplicativo  <strong>HelpHome</strong> em seu celular.
                    </div>
                    <div>
                        Clique <ion-icon name="ellipsis-vertical"></ion-icon> e adicione a tela.
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary btn-block" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * Android Add to Home Action Sheet -->



<!-- ========= JS Files =========  -->
<!-- Bootstrap -->
<script src="{% static 'assets/js/lib/bootstrap.bundle.min.js' %}"></script>
<!-- Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- Splide -->
<script src="{% static 'assets/js/plugins/splide/splide.min.js' %}"></script>
<!-- Base Js File -->
<script src="{% static 'assets/js/base.js' %}"></script>

<script>
    // Add to Home with 2 seconds delay.
    AddtoHome("2000", "once");
</script>
{% endblock content%}